<a href="https://colab.research.google.com/github/wandersonlira/state-of-data-brazil-2023/blob/main/stateOfDataBrazil_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Este bloco de código converte o arquivo para UTF-8 em seguida cria outro arquivo com dados convertidos e salva no formato **.csv**

In [ ]:
import pandas as pd


State_of_data_BR_2023 = pd.read_excel("/content/State_of_data_BR_2023.xlsx")

tabela = pd.DataFrame(State_of_data_BR_2023)

tabela.columns = tabela.columns.str.encode('latin1').str.decode('utf-8')

# Converte os dados para UTF-8
def converte_texto_para_utf8(celula):
    if isinstance(celula, str):
        try:
            return celula.encode('latin1').decode('utf-8')
        except (UnicodeEncodeError, UnicodeDecodeError):
            # Se ocorrer um erro, retorna o valor original
            return celula
    return celula


for column in tabela.columns:
    tabela[column] = tabela[column].apply(converte_texto_para_utf8)


# Salva uma cópia desses dados convertidos
tabela.to_csv("tabela_convertida.csv", encoding='utf-8', index=False)

Bloco de código que retira todo os caracteres especiais do arquivo que foi convertido para UTF-8.

In [75]:
import pandas as pd


tabela_convertida = pd.read_csv("/content/tabela_convertida.csv")

df = pd.DataFrame(tabela_convertida)


# Dicionário de substituições
substituicoes = {
    'ç': 'c', 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u',
    'ã': 'a', 'õ': 'o', 'â': 'a', 'ê': 'e', 'ô': 'o', 'à': 'a',
    'ü': 'u', 'Ç': 'C', 'Â': 'A', 'Ê': 'E', 'Ô': 'O',
    'Á': 'A', 'É': 'E', 'Í': 'I', 'Ó': 'O', 'Ú': 'U'
}


# Criar uma tabela de tradução
tabela_traducao = str.maketrans(substituicoes)

# Aplicar a tradução a todas as células do DataFrame
df = df.applymap(lambda celula: celula.translate(tabela_traducao) if isinstance(celula, str) else celula)


# Salva uma cópia desses dados convertidos
df.to_csv("stateOfDataBR2023_sem_caracteres_especiais.csv", encoding='utf-8', index=False)

<ipython-input-75-a463ed7f945f>:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda celula: celula.translate(tabela_traducao) if isinstance(celula, str) else celula)

In [77]:
import pandas as pd


tabela_convertida = pd.read_csv("/content/stateOfDataBR2023_sem_caracteres_especiais.csv")

df = pd.DataFrame(tabela_convertida)

display(df)

,"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_1 ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_c ', 'Cor/raca/etnia')","('P1_d ', 'PCD')","('P1_e ', 'experiencia_profissional_prejudicada')","('P1_e_1 ', 'Não acredito que minha experiência profissional seja afetada')","('P1_e_2 ', 'Experiencia prejudicada devido a minha Cor Raça Etnia')","('P1_e_3 ', 'Experiencia prejudicada devido a minha identidade de gênero')",...,"('P8_d_3 ', 'Entrando em contato com os times de negócio para definição do problema, identificar a solução e apresentação de resultados.')","('P8_d_4 ', 'Desenvolvendo modelos de Machine Learning com o objetivo de colocar em produção em sistemas (produtos de dados).')","('P8_d_5 ', 'Colocando modelos em produção, criando os pipelines de dados, APIs de consumo e monitoramento.')","('P8_d_6 ', 'Cuidando da manutenção de modelos de Machine Learning já em produção, atuando no monitoramento, ajustes e refatoração quando necessário.')","('P8_d_7 ', 'Realizando construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik, etc.')","('P8_d_8 ', 'Utilizando ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises.')","('P8_d_9 ', 'Criando e dando manutenção em ETLs, DAGs e automações de pipelines de dados.')","('P8_d_10 ', 'Criando e gerenciando soluções de Feature Store e cultura de MLOps.')","('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')","('P8_d_12 ', 'Treinando e aplicando LLM's para solucionar problemas de negócio.')"
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,Nao,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,Nao,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,Nao,"Sim, acredito que a minha a experiencia profis...",0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00urm3jf2cek12w6ygue00urm3jzd17j,22,22-24,Masculino,Preta,Nao,Nao acredito que minha experiencia profissiona...,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,Nao,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,zyg9519671iqrgy93qzyg95183k8ix5f,34,30-34,Masculino,Preta,Nao,Nao acredito que minha experiencia profissiona...,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5289,zyppgxzxko25qkgwsbrgpzyppgxzxs81,32,30-34,Masculino,Branca,Nao,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5290,zysl5f50cnz3r0cbe6t2zysrxbzfsrng,25,25-29,Masculino,Branca,Nao,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5291,zyt2656c9e1becxp457zyt26566dsng8,31,30-34,Masculino,Parda,Nao,Nao acredito que minha experiencia profissiona...,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5292,zzvyz3z5jy2lzzvyziv62lvtjrab9r5x,31,30-34,Masculino,Amarela,Nao,Nao acredito que minha experiencia profissiona...,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN